include README.md
include LICENSE

include setup.py
include tensorhive/api/*.yml
include tensorhive/controllers/responses.yml
include tensorhive/*.ini
graft tensorhive/app/web/dist
include tensorhive/alembic.ini
graft tensorhive/migrations

global-exclude *.py[co]
prune tensorhive/app/web/dev
